<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.indokuistampilan2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IndoKuisTampilan2"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".edit_informasi_minigame"
            android:exported="false" />
        <activity
            android:name=".edit_minigame"
            android:exported="false" />
        <activity
            android:name=".edit_kuis2"
            android:exported="false" />
        <activity
            android:name=".edit_kuis"
            android:exported="false" />
        <activity
            android:name=".daftar_skor_minigame"
            android:exported="false" />
        <activity
            android:name=".daftar_skor_kuis"
            android:exported="false" />
        <activity
            android:name=".dashboard_siswa"
            android:exported="false" />
        <activity
            android:name=".edit_informasi_kuis"
            android:exported="false" />
        <activity
            android:name=".dashboard_guru"
            android:exported="false" />
        <activity
            android:name=".soal_minigame"
            android:exported="false" />
        <activity
            android:name=".detail_minigame"
            android:exported="false" />
        <activity
            android:name=".skor_kuis"
            android:exported="false" />
        <activity
            android:name=".soal_kuis"
            android:exported="false" />
        <activity
            android:name=".detail_kuis"
            android:exported="false" />
        <activity
            android:name=".login_page"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>